body {
    background-color: rgb(233, 227, 240);
}

main {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}


#left {
    border: 1px solid red;
    flex: 1;
    /* height: 100%; */
}
#right {
    border: 1px solid green;
    flex: 1;
}
#center {
    border: 1px solid pink;
    flex: 1;
}


/* hide and diaply content */
.hide {
    display:none
}
.show {
    display:block;
}

.question{
    border: 1px solid yellow;
}